In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '../data/raw/ABS_data/2021 Census GCP Postal Areas for AUS/2021Census_G02_AUST_POA.csv'
df = pd.read_csv(file_path)

df['POA_CODE_2021'] = df['POA_CODE_2021'].str.replace('POA', '')
df.head()

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,2000,32,2800,941,625,2367,1.3,2225,2.1
1,2007,30,2500,772,500,2197,1.2,1805,2.1
2,2008,28,2600,860,525,2453,1.2,1746,1.9
3,2009,37,2800,1297,580,3035,1.1,2422,2.1
4,2010,36,2900,1479,550,3709,1.1,2297,1.7

In [2]:
# Remove specified columns from the DataFrame
columns_to_remove = ['Median_tot_fam_inc_weekly', 'Average_num_psns_per_bedroom', 'Median_tot_prsnl_inc_weekly', 'Average_household_size']
df.drop(columns=columns_to_remove, inplace=True)

df.head()

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_rent_weekly,Median_tot_hhd_inc_weekly
0,2000,32,2800,625,2225
1,2007,30,2500,500,1805
2,2008,28,2600,525,1746
3,2009,37,2800,580,2422
4,2010,36,2900,550,2297

In [3]:
# Export the DataFrame to a CSV file in the specified directory
output_path = '../data/curated/2021Census_G02_AUST_POA_curated.csv'
df.to_csv(output_path, index=False)